<% layout("layouts/boilerplate") %>

<div class="container-fluid">
  <div class="row">
    <div class="fw-bold ms-1 mb-3">Balance: <%= user.balance %></div>
  </div>
  <div class="row m-1">
    <div class="text-center">To pay:</div>
  </div>
  <div class="row m-2">
    <div class="display-5 fw-bold text-center">
      &#8377; <span id="billAmount"></span>
    </div>
  </div>
  <div class="row">
    <div>
      <form action="/checkout" method="POST" onsubmit="checkBalance()">
        <div class="row m-2">
          <label for="pin" class="text-center">Enter your pin</label>
        </div>
        <div class="row justify-content-center m-2">
          <div class="col-6 col-md-4 col-lg-2">
            <input
              type="password"
              class="form-control text-center"
              id="pin"
              name="pin"
              required
            />
          </div>
        </div>
        <div class="row text-center">
          <div class="col text-center text-danger" id="error"></div>
        </div>
        <div class="row m-2">
          <div class="col text-center">
            <input
              type="number"
              class="d-none"
              name="billAmount"
              id="inputBillAmount"
            />
            <button class="btn btn-primary btn-sm">Pay</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-app.js";
  import {
    getDatabase,
    ref,
    onValue,
    get,
    child,
  } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-database.js";
  import {
    getFirestore,
    getDoc,
    doc,
  } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-firestore.js";

  const firebaseConfig = {
    apiKey: "AIzaSyAWjqFGL8j_JRMLbrpuwE_mblIJc1GnFX0",
    authDomain: "auth-demo-4efba.firebaseapp.com",
    databaseURL:
      "https://auth-demo-4efba-default-rtdb.asia-southeast1.firebasedatabase.app",
    projectId: "auth-demo-4efba",
    storageBucket: "auth-demo-4efba.appspot.com",
    messagingSenderId: "586847569783",
    appId: "1:586847569783:web:c68c943c0be0e84d3a8372",
  };

  const app = initializeApp(firebaseConfig);
  const realDB = getDatabase(app);
  const db = getFirestore(app);

  const email = '<%- user.email %>';

  async function getCartID() {
    let cartid = -1;
    await get(
      child(ref(realDB), `/currentUsers/${email.slice(0, email.indexOf("@"))}`)
    )
      .then((snapshot) => {
        if (!snapshot.exists()) window.location.assign("/cart/connect");
        cartid = snapshot.val();
      })
      .catch((err) => {
        console.log(err);
      });
    return cartid;
  }

  async function getBillAmount() {
    const cartID = await getCartID();
    let total = 0;
    await get(child(ref(realDB), `/carts/${cartID}/products`))
      .then(async (snapshot) => {
        const data = snapshot.val();
        for (let key in data) {
          const docRef = doc(db, "products", data[key]);
          const docSnap = await getDoc(docRef);
          const { price } = docSnap.data();
          total += price;
          console.log(total);
        }
      })
      .catch((err) => {
        console.log(err);
      });
    console.log("Total: ", total);
    return total;
  }

  const billAmount = await getBillAmount();
  console.log("Bill amount: ", billAmount);
  document.querySelector("#billAmount").innerText = `${billAmount}`;
  document.querySelector("#inputBillAmount").value = billAmount;
  function checkBalance() {
    const balance = "<%- user.balance %>";
    if (balance >= billAmount) {
      return true;
    } else {
      return false;
    }
  }
</script>
